<p id="notice"><%= notice %></p>

<h1>Listing Device Info</h1>
<form>
  <%= select_tag "location", options_for_select(@locations), prompt: "Select a location", include_blank: "All", :onchange => "this.form.submit();"%>
</form>
<p>
  Download:
  <%= link_to "CSV", infos_path(request.parameters.merge({:format => :csv})) %> |
  <%= link_to "Excel", infos_path(request.parameters.merge({:format => :xls})) %>
</p>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Note</th>
      <th>Macs</th>
      <th>MacType</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @infos.each do |info| %>
      <tr>
        <td><%= info.name %></td>
        <td><%= info.location %></td>
        <td><%= info.note %></td>
        <td><%= info.macs %></td>
        <td><%= info.mactype %></td>
        <td><%= link_to 'Show', info %></td>
        <td><%= link_to 'Edit', edit_info_path(info) %></td>
        <td><%= link_to 'Destroy', info, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add a device info', new_info_path %>
