<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Note</th>
      <th>Macs</th>
      <th>MacType</th>
    </tr>
  </thead>

  <tbody>
    <% @infos.each do |info| %>
      <tr>
        <td><%= info.name %></td>
        <td><%= info.location %></td>
        <td><%= info.note %></td>
        <td><%= info.macs %></td>
        <td><%= info.mactype %></td>
      </tr>
    <% end %>
  </tbody>
</table>