<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @info.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @info.location %>
</p>

<p>
  <strong>Note:</strong>
  <%= @info.note %>
</p>

<p>
  <strong>Macs:</strong>
  <%= @info.macs %>
</p>

<p>
  <strong>MacType:</strong>
  <%= @info.mactype %>
</p>

<%= link_to 'Edit', edit_info_path(@info) %> |
<%= link_to 'Back', infos_path %>
